[mysqld]
bind-address = 127.0.0.1
skip-grant-tables

[mysqld1]
socket          = /tmp/mysql.sock1
port            = 3306
pid-file        = /usr/local/var/mysql1/mysqld1.pid
datadir         = /usr/local/var/mysql1

log-bin       = master-bin
log-bin-index = master-bin.index
server-id     = 1

[mysqld2]
socket          = /tmp/mysql.sock2
port            = 3307
pid-file        = /usr/local/var/mysql2/mysqld2.pid
datadir         = /usr/local/var/mysql2

server-id       = 2
relay-log-index = slave-relay-bin.index
relay-log       = slave-relay-bin
